*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

main{
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
}

.title{
    text-align: center;
}

.title > h1{
    color: rgb(229, 83, 134);
    font-size: 2.5rem;
}

.title > p{
    margin-top: 40px;
    font-size: 1.2rem;
}